<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SignInButton" value="xpath=//a[@data-nav-role='signin']" />
		<add key="EmailInput" value="id=ap_email_login" />
		<add key="ContinueButton" value="id=continue" />
		<add key="ValidEmail" value="bhavanitamarapalli2004@gmail.com" />
		<add key="ValidMobile" value="7382396173" />
		<add key="PasswordInput" value="id=ap_password" />
		<add key="SignInSubmitButton" value="id=signInSubmit" />
		<add key="ValidPassword" value="bhavani@2004" />
		<add key="CreateAccountButton" value="ClassName=a-button-input" />


		<add key="CreateAccountName" value="id=ap_customer_name" />
		<add key="CreateAccountMobile" value="id=ap_phone_number" />
		<add key="CreateAccountPassword" value="id=ap_password" />
		<add key="CreateAccountSubmitButton" value="ClassName=a-button-input" />


		<add key="CreateAccountNameValue" value="Niharika" />
		<add key="CreateAccountMobileValue" value="8374653657" />
		<add key="CreateAccountPasswordValue" value="Niharika@123" />

		<add key="HomePageLogo" value="id=nav-logo-sprites" />

		<add key="DeliveryOption" value="xpath=//*[@id='nav-global-location-popover-link']" />

		<add key="DeliveryCloseButton" value="xpath=//*[@data-action='a-popover-close']" />

		<add key="SearchDropdownBox" value="id=searchDropdownBox" />
		<add key="SearchButton" value="id=nav-search-submit-button" />

		
      <!--
		<add key="LanguageButton" value="id=icp-nav-flyout" />
	
		<add key="LanguageOptions" value="xpath=//div[@id='icp-language-settings']//input[@type='radio']" />
		<add key="SaveLanguageButton" value="xpath=//input[@aria-labelledby='icp-save-button-label']" />
		<add key="HamburgerMenuButton" value="id=nav-hamburger-menu" />
			<add key="HamburgerCloseButton" value="css=.hm-icon.nav-sprite" />
			<add key="NavMenuItems" value="css=.hmenu-visible a.hmenu-item" />
		-->

		
			<add key="HamburgerMenuButton" value="id=nav-hamburger-menu" />
			<add key="NavMenuItems" value="css=.hmenu-visible a.hmenu-item" />

		<add key="TopNavItemsParentId" value="nav-xshop" />
		<add key="SubNavContainerClass" value="nav-progressive-subnav" />
		<add key="SubNavLinks" value="css=.nav-progressive-subnav a" />
		
			<add key="TopNavItems" value="xpath=//div[@id='nav-xshop']//a" />
			<add key="SubNavItems" value="xpath=//div[@id='nav-subnav']//a" />


		<!-- Top Nav -->
		<add key="FreshNavLink" value="xpath=//a[contains(text(),'Fresh')]" />

		<!-- Fresh Modal Skip Button -->
		<add key="FreshSkipButton" value="xpath=//input[@aria-label='Skip'] | //button[contains(text(),'Skip')] | //input[@value='Skip']" />

		<!-- Fresh Sub-Navigation -->
		<add key="FreshSubCategoryLinks" value="xpath=//a[contains(text(),'Fruits &amp; vegetables')]" />

		<!-- Featured Tab -->
		<add key="FeaturedTab" value="xpath=//a[contains(text(),'Featured')]" />

		<!-- Product Titles -->
		<add key="ProductTitles" value="xpath=//div[@data-component-type='s-search-result']//h2//span" />

		<!-- Add to cart button -->
		<add key="AddToCartButton" value="id=add-to-cart-button" />


	</appSettings>
</configuration>
